@page "/Biology"

@using IKWYT.Data
@using Repository
@inject IQuizService QuizService

<h1><span class="material-icons">directions_run</span>   Biology</h1>
<br />
<p>Quizzes based on biology.  Could drinking blood make you younger?  Can you tickle yourself?  Does yoga actually help?  Does your brain speed up when you are scared?</p>

<br />
<RadzenGrid @ref="grid" AllowFiltering="false" AllowPaging="false" PageSize="12" AllowSorting="false" Data="@quizzes" TItem="QuizMetaData">
    <Columns>
        <RadzenGridColumn TItem="QuizMetaData" Property="ExternalReference" Title="Quiz">
            <Template Context="data">
                @{ var name = "/quiz/" + @data.ExternalReference;
                    <NavLink href="@name">@data.Title</NavLink>
                }
            </Template>
        </RadzenGridColumn>
        <RadzenGridColumn TItem="QuizMetaData" Property="Difficulty" Title="Difficulty" />
    </Columns>
</RadzenGrid>



@code {
    RadzenGrid<QuizMetaData> grid;
    private List<QuizMetaData> quizzes;

    protected override void OnInitialized()
    {
        var allQuizzes = QuizService.GetQuizMetaData();

        // Assessments
        quizzes = new List<QuizMetaData>();
        quizzes.Add(allQuizzes.Single(x => x.ExternalReference == "Body"));
        quizzes.Add(allQuizzes.Single(x => x.ExternalReference == "Brain"));
        quizzes.Add(allQuizzes.Single(x => x.ExternalReference == "Meditation Exercise"));
        quizzes.Add(allQuizzes.Single(x => x.ExternalReference == "Time"));
    }
}
