@page "/quizzes"

@using IKWYT.Data
@using Repository
@inject IQuizService QuizService

<h1><span class="material-icons">library_books</span>   Quizzes</h1>

<p>Pick a quiz to expand your brain!</p>

@if (quizzes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>A Good Place to Start:</h3>
    <ul>
        <li><NavLink href="/quiz/Easy Warmup">Easy Warmup</NavLink></li>
        <li><NavLink href="/quiz/Famous Experiments">Famous Experiments</NavLink></li>
        <li><NavLink href="/quiz/Coca Cola">Coca Cola</NavLink></li>
        <li><NavLink href="/quiz/Pain Torture Death">Pain, Torture & Death</NavLink></li>
    </ul>
    <br />
    <h3>All quizzes:</h3>
    <RadzenGrid @ref="grid" AllowFiltering="true" AllowPaging="true" PageSize="12" AllowSorting="true" Data="@quizzes" TItem="QuizMetaData">
        <Columns>
            <RadzenGridColumn TItem="QuizMetaData" Property="ExternalReference" Title="Quiz">
                <Template Context="data">
                    @{ var name = "/quiz/" + @data.ExternalReference;
                        <NavLink href="@name">@data.Title</NavLink>
                    }
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="QuizMetaData" Property="Category" Title="Category" />
            <RadzenGridColumn TItem="QuizMetaData" Property="Difficulty" Title="Difficulty" />
        </Columns>
    </RadzenGrid>
}

@code {
    RadzenGrid<QuizMetaData> grid;
    private List<QuizMetaData> quizzes;

    protected override void OnInitialized()
    {
        quizzes = QuizService.GetQuizMetaData();
    }
}
