@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>

    <div class="footer-txt">
        <div class="copyrights">© 2020 -<b> I Know What You Think</b></div>
    </div>

</div>
