@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">

    <div class="content px-4">
        @Body
    </div>

    @*<div class="footer-txt centered">
        <div class="copyrights centered">© @DateTime.Today.Year - <b>I Know What You Think</b></div>
    </div>*@

</div>
